.wrapper {
    background: radial-gradient(#3F51B5 3px, #0000 4px), radial-gradient(#009688 3px, #0000 4px), linear-gradient(#fff 4px, #0000 0), linear-gradient(45deg, #0000 74px, #0000 75px, #a4a4a4 75px, #a4a4a4 76px, #0000 77px, #0000 109px), linear-gradient(-45deg, #0000 75px, #0000 76px, #a4a4a4 76px, #a4a4a4 77px, #0000 78px, #0000 109px), #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

section {
    background-color: #c3e9f6;
}
.footer a {
    color: white;
}
.footer section {
    padding: 1px 2rem 1.5rem 2rem;
}
pre code {
    color: black;
}
pre {
    background-color: #ffbd00!important;
    color: black!important;
}
